In [1]:
import pandas as pd
from sodapy import Socrata

client = Socrata("data.cityofnewyork.us", 
                 "phCy46lgZSogk7QgnXpSoMkSl",
                 username="sujeongcha90@gmail.com",
                 password="Housing311")

In [2]:
# Loading data for Manhattan (separate load by year due to large data volume)
Manhattan_2015 = client.get("qgea-i56i", 
                            where="boro_nm='MANHATTAN' AND cmplnt_fr_dt between '2015-01-01T00:00:00.000' and '2015-12-31T23:59:59.000'", limit=500000)
Manhattan_2016 = client.get("qgea-i56i", 
                            where="boro_nm='MANHATTAN' AND cmplnt_fr_dt between '2016-01-01T00:00:00.000' and '2016-12-31T23:59:59.000'", limit=500000)
Manhattan_2017 = client.get("qgea-i56i", 
                            where="boro_nm='MANHATTAN' AND cmplnt_fr_dt between '2017-01-01T00:00:00.000' and '2017-12-31T23:59:59.000'", limit=500000)
Manhattan_2018 = client.get("qgea-i56i", 
                            where="boro_nm='MANHATTAN' AND cmplnt_fr_dt between '2018-01-01T00:00:00.000' and '2018-12-31T23:59:59.000'", limit=500000)
Manhattan_2019 = client.get("qgea-i56i", 
                            where="boro_nm='MANHATTAN' AND cmplnt_fr_dt between '2019-01-01T00:00:00.000' and '2019-12-31T23:59:59.000'", limit=500000)

In [4]:
# Appending the dataframes row-wise into one dataframe

crime2015 = pd.DataFrame(Manhattan_2015)
crime2016 = pd.DataFrame(Manhattan_2016)
crime2017 = pd.DataFrame(Manhattan_2017)
crime2018 = pd.DataFrame(Manhattan_2018)
crime2019 = pd.DataFrame(Manhattan_2019)

crime_man = crime2015.append([crime2016, crime2017, crime2018, crime2019])
pd.set_option('display.max_columns', 500)
display(crime_man.head())

,addr_pct_cd,boro_nm,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_num,cmplnt_to_dt,cmplnt_to_tm,crm_atpt_cptd_cd,hadevelopt,housing_psa,juris_desc,jurisdiction_code,ky_cd,lat_lon,latitude,law_cat_cd,loc_of_occur_desc,longitude,ofns_desc,parks_nm,patrol_boro,pd_cd,pd_desc,prem_typ_desc,rpt_dt,station_name,susp_age_group,susp_race,susp_sex,transit_district,vic_age_group,vic_race,vic_sex,x_coord_cd,y_coord_cd
0,7,MANHATTAN,2015-04-24T00:00:00.000,13:00:00,456922243,NaN,NaN,COMPLETED,NaN,NA,N.Y. POLICE DEPT,0,351,"{'latitude': '40.715287766', 'longitude': '-73...",40.715287766,MISDEMEANOR,NaN,-73.976471159,CRIMINAL MISCHIEF & RELATED OF,NaN,PATROL BORO MAN SOUTH,258,"CRIMINAL MISCHIEF 4TH, GRAFFIT",BRIDGE,2015-04-24T00:00:00.000,NaN,NaN,UNKNOWN,U,NaN,NaN,UNKNOWN,E,990773,199873
1,9,MANHATTAN,2015-12-04T00:00:00.000,23:00:00,632266071,2015-12-05T00:00:00.000,01:00:00,COMPLETED,NaN,NaN,N.Y. POLICE DEPT,0,104,"{'latitude': '40.726554019', 'longitude': '-73...",40.72655401900005,FELONY,INSIDE,-73.98782842699995,RAPE,NaN,PATROL BORO MAN SOUTH,155,RAPE 2,RESIDENCE-HOUSE,2018-09-21T00:00:00.000,NaN,NaN,NaN,NaN,NaN,<18,BLACK HISPANIC,F,987624,203977
2,28,MANHATTAN,2015-06-20T00:00:00.000,00:45:00,521195189,2015-06-20T00:00:00.000,00:55:00,COMPLETED,NaN,NA,N.Y. POLICE DEPT,0,105,"{'latitude': '40.805036364', 'longitude': '-73...",40.805036364,FELONY,NaN,-73.952761833,ROBBERY,NaN,PATROL BORO MAN NORTH,382,"ROBBERY,NECKCHAIN/JEWELRY",STREET,2015-06-20T00:00:00.000,NaN,NaN,BLACK,U,NaN,18-24,BLACK,M,997328,232574
3,32,MANHATTAN,2015-05-28T00:00:00.000,19:00:00,984744174,NaN,NaN,COMPLETED,NaN,NA,N.Y. POLICE DEPT,0,578,"{'latitude': '40.812759591', 'longitude': '-73...",40.812759591,VIOLATION,NaN,-73.945570963,HARRASSMENT 2,NaN,PATROL BORO MAN NORTH,638,"HARASSMENT,SUBD 3,4,5",STREET,2015-05-28T00:00:00.000,NaN,NaN,BLACK,F,NaN,<18,BLACK,F,999317,235389
4,9,MANHATTAN,2015-10-16T00:00:00.000,08:30:00,792079209,2015-10-16T00:00:00.000,08:45:00,COMPLETED,NaN,NA,N.Y. POLICE DEPT,0,578,"{'latitude': '40.726874047', 'longitude': '-73...",40.726874047,VIOLATION,NaN,-73.979909013,HARRASSMENT 2,NaN,PATROL BORO MAN SOUTH,638,"HARASSMENT,SUBD 3,4,5",STREET,2015-10-16T00:00:00.000,NaN,<18,BLACK,M,NaN,45-64,UNKNOWN,M,989819,204094

In [5]:
# Restricting complaint types to FELONY                                 

condition = ['FELONY']

def drop_complaints(data):
    result = data[data['law_cat_cd'].isin(condition)]
    return result

felony_man = drop_complaints(crime_man)
display(felony_man.head())

,addr_pct_cd,boro_nm,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_num,cmplnt_to_dt,cmplnt_to_tm,crm_atpt_cptd_cd,hadevelopt,housing_psa,juris_desc,jurisdiction_code,ky_cd,lat_lon,latitude,law_cat_cd,loc_of_occur_desc,longitude,ofns_desc,parks_nm,patrol_boro,pd_cd,pd_desc,prem_typ_desc,rpt_dt,station_name,susp_age_group,susp_race,susp_sex,transit_district,vic_age_group,vic_race,vic_sex,x_coord_cd,y_coord_cd
1,9,MANHATTAN,2015-12-04T00:00:00.000,23:00:00,632266071,2015-12-05T00:00:00.000,01:00:00,COMPLETED,NaN,NaN,N.Y. POLICE DEPT,0,104,"{'latitude': '40.726554019', 'longitude': '-73...",40.72655401900005,FELONY,INSIDE,-73.98782842699995,RAPE,NaN,PATROL BORO MAN SOUTH,155,RAPE 2,RESIDENCE-HOUSE,2018-09-21T00:00:00.000,NaN,NaN,NaN,NaN,NaN,<18,BLACK HISPANIC,F,987624,203977
2,28,MANHATTAN,2015-06-20T00:00:00.000,00:45:00,521195189,2015-06-20T00:00:00.000,00:55:00,COMPLETED,NaN,NA,N.Y. POLICE DEPT,0,105,"{'latitude': '40.805036364', 'longitude': '-73...",40.805036364,FELONY,NaN,-73.952761833,ROBBERY,NaN,PATROL BORO MAN NORTH,382,"ROBBERY,NECKCHAIN/JEWELRY",STREET,2015-06-20T00:00:00.000,NaN,NaN,BLACK,U,NaN,18-24,BLACK,M,997328,232574
7,10,MANHATTAN,2015-04-01T00:00:00.000,14:00:00,505995206,NaN,NaN,COMPLETED,NaN,NaN,N.Y. POLICE DEPT,0,109,"{'latitude': '40.759708329', 'longitude': '-73...",40.75970832900003,FELONY,INSIDE,-73.99356176999999,GRAND LARCENY,NaN,PATROL BORO MAN SOUTH,422,"LARCENY,GRAND BY OPEN CREDIT CARD (NEW ACCT)",RESIDENCE-HOUSE,2018-06-22T00:00:00.000,NaN,NaN,NaN,NaN,NaN,45-64,WHITE,M,986034,216056
8,32,MANHATTAN,2015-07-31T00:00:00.000,22:30:00,316560839,2015-07-31T00:00:00.000,22:34:00,COMPLETED,NaN,NA,N.Y. POLICE DEPT,0,113,"{'latitude': '40.820348736', 'longitude': '-73...",40.820348736,FELONY,NaN,-73.940022452,FORGERY,NaN,PATROL BORO MAN NORTH,729,"FORGERY,ETC.,UNCLASSIFIED-FELO",STREET,2015-07-31T00:00:00.000,NaN,18-24,BLACK,F,NaN,NaN,UNKNOWN,E,1000851,238155
9,14,MANHATTAN,2015-02-28T00:00:00.000,22:30:00,220843856,2015-03-01T00:00:00.000,11:30:00,COMPLETED,NaN,NA,N.Y. POLICE DEPT,0,107,"{'latitude': '40.745676707', 'longitude': '-73...",40.745676707,FELONY,INSIDE,-73.987720275,BURGLARY,NaN,PATROL BORO MAN SOUTH,213,"BURGLARY,COMMERCIAL,NIGHT",COMMERCIAL BUILDING,2015-03-01T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,D,987653,210944

In [6]:
# Cleaning up columns

crime_cleaned = felony_man[['ofns_desc', 'latitude', 'longitude',"cmplnt_fr_dt"]]
crime_cleaned['GeoCode'] = list(zip(crime_cleaned.longitude, crime_cleaned.latitude))
display(crime_cleaned.head())

C:\Users\Young Jin Park\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,ofns_desc,latitude,longitude,cmplnt_fr_dt,GeoCode
1,RAPE,40.72655401900005,-73.98782842699995,2015-12-04T00:00:00.000,"(-73.98782842699995, 40.72655401900005)"
2,ROBBERY,40.805036364,-73.952761833,2015-06-20T00:00:00.000,"(-73.952761833, 40.805036364)"
7,GRAND LARCENY,40.75970832900003,-73.99356176999999,2015-04-01T00:00:00.000,"(-73.99356176999999, 40.75970832900003)"
8,FORGERY,40.820348736,-73.940022452,2015-07-31T00:00:00.000,"(-73.940022452, 40.820348736)"
9,BURGLARY,40.745676707,-73.987720275,2015-02-28T00:00:00.000,"(-73.987720275, 40.745676707)"

In [6]:
crime_cleaned.to_csv(r'C:\Users\sujeong\Documents\2019 Fall NYU MSDS ■\1001 Introduction to Data Science\Project\crime_cleanup.csv', index=False)